@media (max-width: 375px) {
  .main-head, .main-nav, .side, .ad, .main-footer {
    display: none;
  }
  
  .wrapper {
    grid-template-columns: 1fr;
    grid-template-areas:
      "content";
  }
  nav ul {
    display: none;
  }
}